node_modules/

dist/
dist-ssr/
*.local

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm-cache/

.vite/
.vitest/
coverage/
auto-imports.d.ts
components.d.ts

.DS_Store
Thumbs.db

.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.history
